.calculator {
    &-body {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 25% 75%;
        align-items: flex-end;
        background: #262626;
        padding: 36px 18px;
    }

    &-display {
        width: 100%;
        padding: 8px 18px;
        border-radius: 16px;
        background: #0E0E0E;
        font-size: 96px;
        line-height: 100%;
        text-align: right;
        margin-bottom: 36px;

        &-current {}
    }

    &-buttons {
        display: flex;
        gap: 16px;
        height: 100%;

        .calculator-more-buttons,
        .calculator-main-buttons {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .calculator-main-buttons {
            width: 40%;
        }

        .calculator-more-buttons {
            width: 60%;
        }

        .row {
            width: 100%;
            display: flex;
            height: 100%;
            +.row {
                margin-top: 18px;
            }
        }

        .btn {
            flex-basis: 25%;
            border-radius: 16px;
            border: 1px solid #000;
            background: #0E0E0E;
            box-shadow: 0px 4px 0px 0px #000;
            text-align: center;
            font-size: 36px;
            font-weight: 400;
            line-height: 42px;
            height: 100%;

            transition: .2s all;

            &:active{
                box-shadow: 0px 1px 0px 0px #000;
                transform: translateY(3px);
                background: #272727;
                border-color: #272727;
            }
            +.btn {
                margin-left: 16px;
            }

            cursor: pointer;

            +.btn {}

            &:hover {}

            &:active {}
        }

        .orange {
            color: #FF8A00;
            font-size: 56px;
            line-height: 64px;

            &:active{
                
            }
        }

        .gray{
            color: #7f7f7f; 
        }
        .col2 {
            flex-basis: 54%;
            border: 1px solid #E77D00;
            background: #FF8A00;
            box-shadow: 0px 4px 0px 0px #E77D00;
            color: #FFF;
            font-size: 56px;
            line-height: 64px;

            &:active, &:focus{
                box-shadow: 0px 1px 0px 0px #E77D00;
                background: #f4af5e;
                border-color: #f4af5e;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .calculator {
        &-buttons {
            .calculator-more-buttons {
                display: none;
            }
            .calculator-main-buttons{
                width: 100%;
            }
        }
    }
}